@import "../../../styles/variables";

.opponent__cards {
  button {
    display: none;
  }
}

.battleground {
  display: flex;
  width: 100%;
  margin: 30px auto;

  .player, .opponent {
    width: 45%;

    .card {
      width: 100%;
      max-width: 50%;
      margin: 0 auto;
      animation: newCard .2s ease-in forwards;
    }
  }

  .opponent {
    .selected {
      .card__flip {
        transform: rotateY(180deg) translate3d(0, 0, 0);
      }
    }

    .card__flip {
      transform: none
    }
  }

  .vs {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.clash {
  position: relative;
}

#playRound {

}

@keyframes newCard {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.clash {
  position: relative;
}
.player-points, .opponent-points {
  display: block;
  position: absolute;
  top: 50%;
  font-size: 60px;
  color: $c-yellow;
}

.player-points {
  left: 0;
}

.opponent-points {
  right: 0;
}