@import "../../../styles/variables";

.opponent__cards {
  width: 60%;
  margin: 0 auto 15px;

  button {
    display: none;
  }
}

.player__cards, .opponent__cards {
  width: 30%;
  min-height: 90vh;
  margin: 30px auto;
  background-color: rgba(0, 0, 0, 0.7);

  .card {
    height: 140px;
    width: 38%;

    &__name {
      font-size: 0.7rem;
    }

    p {
      display: none;
    }

    &__health {
      display: none;
    }
  }
}

.battleground {
  display: flex;
  width: 100%;
  margin: 20px auto;

  .player, .opponent {
    width: 45%;

    .card {
      width: 50%;
      max-width: 50%;
      height: 290px;
      margin: 28vh auto;
      padding-bottom: 0;
      animation: newCard .4s ease-in forwards;
      cursor: default;

      &:hover {
        transform: scale(1);
      }
    }
  }

  .opponent {
    .card {
      animation: rotateCard .4s ease-in forwards;

      &__flip {
        transform: rotateY(0deg) translate3d(0, 0, 0);
      }
    }
  }

  .opponent {
    .selected {
      .card__flip {
        transform: rotateY(180deg) translate3d(0, 0, 0);
      }
    }

    .card__flip {
      transform: none
    }
  }

  .vs {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.clash {
  display: flex;
  position: relative;

  button {
    position: fixed;
    bottom: 18%;
    left: 43.5%;
  }

  h1.color-white {
    position: fixed;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
  }
}

@keyframes newCard {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.player-points, .opponent-points {
  display: block;
  position: absolute;
  top: 37%;
  font-size: 60px;
  color: $c-yellow;
}

.player-points {
  left: 21%;
}

.opponent-points {
  right: 21%;
}