@import "../../styles/variables";

.btn {
  background-color: $c-yellow;
  padding: 10px 30px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  color: $c-button-text;
  font-weight: bold;
  margin: 30px auto;
  display: block;
  text-transform: uppercase;
  transition: background-color .4s ease-in-out, color .4s linear;

  &:hover {
    background-color: darken($c-yellow, 55%);
    color: $c-white
  }
}
